<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>Login page</title>
</head>
<body>
    <div class="my_container">
        <div class="my_panel">
            <div class="input_form">
                <h3>Please Login First</h3>
                <br>
                <form>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username"><br><br>

                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password"><br><br>

                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>