<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/main.css">
   
    <title>Start Page</title>
    </head>
    <body>
        <div class="outer_box">
        <h3 class="center">Welcome to my ticket show</h3>
        <div class="input_form">
            Hi Welcome to the चलचित्र nations very own ticket management app
            <br>
        </div>
        <div class="center"><button type="Login" class="btn btn-danger">Login</button></div>
        </div>
    </body>
</html>