<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    </head>
    <body>
        <div class="outer_box">
        <h3 class="center">Welcome to my ticket show</h3>
        <div class="input_form">
            Hi Welcome to the चलचित्र nations very own ticket management app
            <br>
        </div>
        <div class="center"><a href="/login" type="button" class="btn btn-danger">Login</a></div>
        </div>
    </body>
</html>