
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #7f0a0a;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.my_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.my_panel {
    width: 80%;
    max-width: 700px;
    border: 1px dashed black;
}


.input_form {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid blue;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
}


input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}