*{
    margin: 0px;
}

.my_container{
    border: 2px solid black;
}

.my_panel{
    width: 90%;
    margin: auto;
    height: auto;
    border: 1px dashed black;
    padding: 15px;
    border-radius: 8px;
}

.outer_box{
    border: 1px solid orange;
    margin-top: 10px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.center{
    text-align: center;
    margin: auto;
    color: rgb(5,5,110);
}

.add{

    width: 100%;        /* makes it stretch to fit parent container */
    max-width: 600px;   /* optional: prevents it from becoming too wide */
    height: auto;
    padding: 8px;       /* space inside the box */
    font-size: 16px;    /* readable text */
    border-radius: 6px; /* rounded corners */

}

.input_form{
    border: 1px solid blue;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}